@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 9, 14;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

.grid-background {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(20px);
}

.blue-glow {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(79, 70, 229, 0.4);
  border-radius: 100%;
  filter: blur(80px);
  z-index: 0;
}

@keyframes shooting {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateX(200px) translateY(200px);
  }
}

@keyframes shine {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 2s infinite;
}